.auth-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(120deg, #84fab0, #8fd3f4);
  }
  .auth-title {
    color: #17518f; 
    font-size: 26px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 5px;
  }
  .auth-subtitle {
    color: #0b345f; 
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    margin-bottom: 20px;
    font-style: italic;
  }
  .auth-box {
    background: #f6f8f8; 
    padding: 2rem;
    border-radius: 9px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 350px;
  }
  input {
    display: block;
    width: 90%;
    margin: 9px 0;
    padding: 10px;
    background-color: #b6daff; 
    color: #333; 
    border: 1px solid #b6daff; 
    border-radius: 5px;
    font-size: 16px;
    outline: none;
    transition: all 0.3s ease-in-out;
  }
  input:focus {
    background-color: #b6daff; 
    border-color: #007bff;
  }
  button {
    display: block;
    width: 95%;
    margin: 9px 0;
    padding: 10px;
    background-color: #163d67 !important; 
    color: white !important;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.3s ease-in-out, transform 0.2s;
  }
  button:hover {
    background-color: #092038 !important;
    transform: scale(1.05);
  }
  button:active {
    transform: scale(0.98); 
  }
  .toggle-text {
    color: blue;
    cursor: pointer;
  }