.summary-card {
  background: white;
  padding: 18px;
  width: 300px;
  border-radius: 18px;
  box-shadow: 0px 4px 12px rgba(0,0,0,0.1);
}

.summary-card h4 {
  font-size: 16px;
  opacity: 0.7;
}

.summary-card h2 {
  margin-top: 5px;
  font-size: 28px;
}
